body{
    margin: 0;
    padding: 0;
    background: #1c1e20;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9653f;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .txt-search,
.search-box .txt-search:focus{
    width: 240px;
    padding: 0 6px;  
}

.search-box:hover > .btn-search{
    background: white;
    color: #f9653f;
}

.btn-search{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.txt-search{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.txt-search::placeholder{
  color: rgb(10, 10, 10,0.4);
}
